{% extends "base.html" %}
<!-- article.html -->

{% block title %}
  {{ article.title|striptags|e }}
{% endblock %}

{% block content %}
  <section id="content" class="body">

    <div class="row">
      <div class="eleven columns">
        <header>
          <h2 class="entry-title">
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
            title="Permalink to {{ article.title|striptags|e }}">{{ article.title|e }}</a>
          </h2>
        </header>

        <footer class="post-info">
          <abbr class="published" title="{{ article.date.isoformat() }}">
            {{ article.locale_date }}
          </abbr>

          {% if article.authors %}
            <address class="vcard author">By 
              {% for author in article.authors|sort %}
                {{ author }}
              {% endfor %}

              {% if category %}
                in <b><a href="/{{category.url}}">{{ category.name | title }}</a></b><br />
              {% endif %}
              <div class="row tag-row">
                {% if article.tags %}
                  <span>Tagged as: </span>
                    {% for tag in article.tags %}
                      <a class="danger label" href="{{ SITEURL }}/{{ tag.url }}">{{ tag.name|e|title }}</a>
                    {% endfor %}
                <br />
                {% endif %}
              </div>

          </address>

        </footer><!-- /.post-info -->

        <div class="entry-content">
          {{ article.content }}
          <br />

        {% endif %}

        </div><!-- /.entry-content -->

      </div><!-- /.eleven.columns -->

      {% include 'sidebar.html' %}
    </div><!-- /.row -->

  </section>
{% endblock %}
