<!-- sidebar.html -->

<div class="three columns">


  <h4>Search schof.org</h4>
  <form method="get" id="search" action="https://duckduckgo.com/">
    <input type="hidden" name="sites" value="schof.org"/>
    <input type="text" name="q" maxlength="255" placeholder="Search Terms"/>
    <input type="submit" value="Search With DuckDuckGo"/>
  </form>


  <h4>Categories</h4>
  {% if categories %}
    <ul>
      {% for cat, null in categories %}
        <li><a href="{{ SITEURL }}/{{ cat.url|e }}">{{ cat.name | title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}


  <h4>Tags</h4>
  {% if tags %}
    <ul>
      {% for tag in tags|sort %}
        <li><a href="{{ SITEURL }}/{{ tag.0.url }}">{{ tag.0.name | title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

</div>
